<% content_for :title, "file preview: #{@filename}" %>
<a href="<%= url_for controller: :files, action: :download, slug: @slug, filename: @filename %>"><%= @filename %></a> <%= number_to_human_size @size %>