<h2>Dump a picture</h2>
<form action="/upload-image" method="post" enctype="multipart/form-data"><input type="hidden" name="MAX_FILE_SIZE" value="<%= Settings.max_image_size %>" /><input type="file" name="file" size="50" /><br /><input value="Dump!" type="submit" /></form>
<h2>Dump a file</h2>
<form action="/upload-file" method="post" enctype="multipart/form-data"><input type="hidden" name="MAX_FILE_SIZE" value="<%= Settings.max_file_size %>" /><input type="file" name="file" size="50" /><br /><input value="Dump!" type="submit" /></form>