<html>
<head>
<link rel="stylesheet" type="text/css" href="/files/css.css" />
<link rel="icon" type="image/png" href="/files/ytoxuki/favicon.png" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
<div class="error">
<%= flash[:error] %>
</div>
<%= yield %>
<hr />
<p><a href="/">dump.bitcheese.net</a> - limits: file <%= number_to_human_size Settings.max_file_size %>, image <%= number_to_human_size Settings.max_image_size %>- dont hax kthx. <br />
<a href="http://bitcheese.net/wiki/dump">Service description and donation information</a> | <a href="https://github.com/Voker57/dump.bitcheese">Code</a> | <a href="https://github.com/Voker57/dump.bitcheese/issues">Issues</a> | <a href="http://bitcheese.net/wiki/dump/script">Shell script</a> | <a href="http://dump.bitcheese.net/files/abukaju/Bitcheese_Dump.apk">Android app</a></p>Newsflash: Use <a href="http://seedplz.bitcheese.net">SeedPlz</a> for distributing larger files</body></html>